.contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 400px;
    background-color: lightgrey;
}

.contenedor{
    background-color: blue;
    color: white;
    padding: 20px;
    margin: 5px;
}