*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    padding: 30px;
    background-color: black;
    color: white;
    font-size: 3em;
    font-weight: bold;
}

nav{
    display: flex;
    justify-content: flex-start;
    background-color: bisque;
}

nav a{
    color: gray;
    text-decoration: none;
    padding: 10px;
}

nav a:hover{
    background-color: darkgray;
    color: brown;
}
footer{
    margin-top: 20px;
    border-top: 2px solid gray;
}